[user]
	email = ndickrel@gmail.com
	name = Nic Dickrell
    signingkey = {{ .chezmoi.homeDir -}}/.ssh/gh_ed25519_sign.pub
[core]
	editor = nvim
	autocrlf = input
[commit]
	template = {{ .chezmoi.homeDir -}}/.gitmessage.txt
	gpgSign = true
[gpg]
	format = ssh
