{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# arch-packages.yaml hash: {{ include ".chezmoidata/arch-packages.yaml" | sha256sum }}

{{ range .packages.nonaur -}}
sudo pacman -S --needed {{ . | quote }}
{{ end -}}
{{ range .packages.aur -}}
yay -S --needed {{ . | quote }}
{{ end -}}

{{ end -}}