{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash
# mac-packages.yaml hash: {{ include ".chezmoidata/mac-packages.yaml" | sha256sum }}

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.formulae -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ range .packages.services -}}
# Some services like tailscale need to run as root. So will need to distinguish those in the datas somehows.
brew services start {{ . | quote }}
{{ end -}}

{{ end -}}