{{- if lookPath "pass-cli" }}
{{ protonPass "pass://VQBf9vcKoMqVMiLXs_ZYl1tCGkTAAtS5MFlizb0JznQ40g02xKUQDtSJqT3XqvoygL8g9tIacCnwnMmOUSPgTA==/nEFFd0wLK1UwQ-kH-X9eaiRrXCLAoaEa5RhBqKYkKgtRJjT6T1CkpMXp4r_5XQugiuX74OgbRHaJoIL21ozlYg==/Private key" }}
{{- else -}}
  chezmoi: pass-cli not yet installed, run again to set after pass-cli login
{{- end }}