{{- if lookPath "pass-cli" -}}
{{ protonPass "pass://Mp-PuPsRTXvRQeT7txzJhm97VVWJV0pNkw36CSw-iQYszCfTn8Mgemq9IOmoPPntUWSxU133AfIAwDUM1G_AIw==/-KTaCEtgxCMtc4eHl3-oOo89I1J67QmCvS1PxqWwOctYBQeNgNkhINGbvuLjIKgnG7AIRkj6-sdI25GGJbb8qw==/Private key" }}
{{- else -}}
  chezmoi: pass-cli not yet installed, run again to set after pass-cli login
{{- end }}
